/* Style header */

/* Navigation */

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background: var(--code-bg);
}

.nav a {
    display: block;
}

.logo,
#menu {
    display: flex;
    margin: auto var(--gap);
}

/* Website logo */

.logo {
    flex-wrap: inherit;
    align-items: center;
}

.logo a {
    font-size: var(--header-size);
    font-weight: var(--title-bold);
}

.logo a img, .logo a svg {
    display: inline;
    vertical-align: middle;
    pointer-events: none;
    transform: translate(0, -10%);
    border-radius: 6px;
    margin-inline-end: 8px;
}

.logo-switches {
    display: flex;
    align-items: center;
    margin-inline-start: 12px;
}

button#theme-toggle {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    color: var(--primary);
    background: transparent;
    border: 0;
    cursor: pointer;
}

body.dark #moon {
    display: none;
}

body:not(.dark) #sun {
    display: none;
}

/* Navigation menu */

#menu {
    list-style: none;
    word-break: keep-all;
    overflow-x: auto;
    white-space: nowrap;
}

#menu li + li {
    margin-inline-start: var(--gap);
}

#menu a {
    font-size: var(--header-size);
}

#menu .active {
    padding-bottom: 2px;
    border-bottom: 2px solid var(--purple);
}
